.maker-table {
    overflow-x: auto;
  }
  
  .td-bg {
    background-color: #f0f0f0;
  }
  
  .td-bg-2 {
    background-color: #e0e0e0;
  }
  .parag{
  text-align: center;
    background: -webkit-linear-gradient(0deg, #2274ad 0, #00223a 100%);
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}
